@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url(../assets/fonts/gmarketsans-ttf/GmarketSansTTFLight.ttf);
}

@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url(../assets/fonts/gmarketsans-ttf/GmarketSansTTFMedium.ttf);
}

@font-face {
  font-family: 'MYHaemalgeunSangsang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansTTFMedium' !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  width: 100%;
  height: 100%;
}