@font-face {
	font-family: 'Happiness-Sans-Title';
	src: url('../assets/fonts/happinessSans-ttf/Happiness-Sans-Title.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Happiness-Sans-Regular';
	src: url('../assets/fonts/happinessSans-ttf/Happiness-Sans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Happiness-Sans-Bold';
	src: url('../assets/fonts/happinessSans-ttf/Happiness-Sans-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'malgun';
	src: url('../assets/fonts/malgun/malgun.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'malgunbd';
	src: url('../assets/fonts/malgun/malgunbd.ttf');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Happiness-Sans-Regular' !important;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body::-webkit-scrollbar {
	display: none;
}

canvas {
	width: 100%;
	height: 100%;
}

:root {
	/* color */
	--white-color: #fff;
	--grey-dark-color: #989090;
	--grey-light-color: #e0e0e0;

	/* 각 타이틀별 글씨크기 */
	--font-title-size: 2rem;
	--font-letter-spacing: -3px;
	--font-sub-size: 1.2rem;
}