@font-face {
  font-family: 'Happiness-Sans-Title';
	src: url('../assets/fonts/happinessSans-ttf/Happiness-Sans-Title.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Happiness-Sans-Regular';
	src: url('../assets/fonts/happinessSans-ttf/Happiness-Sans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Happiness-Sans-Bold';
	src: url('../assets/fonts/happinessSans-ttf/Happiness-Sans-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}



* {
  font-family: 'Happiness-Sans-Regular' !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  background-color: #f2dee98f;
  width: 100%;
  height: 100%;
}