.container.header__container,
.container.header__container>div,
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  border-bottom: 1px solid var(--color-dark-variant);
}

.header__wrapper {
  width: 50vw;
}

.header__wrapper * {
  font-size: 1.2rem;
}

.search__input {
  width: 20vw;
  height: 2rem;
  margin-right: 1rem;
}

.btn__wrapper .btn {
  margin: 0 1rem 0 0;
}

.header__logo img {
  height: 10vh;
}