.task-tooltip {
	border: 1px dashed #ADBED2;
  border-radius: 5px;
  color: #000000;
	text-align: left;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 7px 15px;
  position: relative;
  width: fit-content;
  z-index: 100;
}

.task-tooltip::after {
  border-color: #ffffff transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -9px;
  width: 0;
  z-index: 0;
	transform: rotate(270deg);
}

.task-tooltip::before {
  border-color: #8abaf0 transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -10px;
  width: 0;
  z-index: 0;
	transform: rotate(270deg);
}

.neon {
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #cc4cb0, .5vw .5vw .1vw #400a28;
    color: #ffa2a2;
  }
}
